body{
    background-color:rgb(0, 238, 255);
    font-family: 'Lucida Sans';
    font-size: small;
    color: #000000;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    h3{
    font-family: 'Lucida Sans';
    font-size: small;
    color: #71ffff;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    .linha {
    font-family: 'Lucida Sans';
    font-size: small;
    font-size: 12px;
    background-color:rgb(0, 198, 233);
    }
    .lista {
    font-family: 'Lucida Sans';
    font-size: small;
    text-align: left;
    font-size: 12px;
    color:rgb(2, 141, 151);
    }
    .itens {
    background-color: rgb(1, 232, 248);
    }